// nextflow config scaffold for EarlGrey

params {
    workDir = './work'
}

workDir = params.workDir

profiles {
    dev {
        process {
            executor = 'local'
            cpus = 2
            memory = '4 GB'
        }
    }

    hpc {
        process {
            executor = 'lsf'
            // queue can be overridden via command line or profile
            queue = 'normal'
            // clusterOptions can be set per-site
            // clusterOptions = '-P team301'
        }
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    singularity {
        singularity {
            enabled = true
        }
    }

    sanger {
        process {
            queue = 'oversubscribed'
        }
    }
}
